<div menu-specialites menu-titre="Les enseignants qui possèdent des modules dans la specialités {{specialite}}" class="col-md-12">
</div>
<section liste-enseignants class="col-xs-12 col-sm-7 col-md-8 col-lg-8"
		 titre="Liste des enseignants "
		 specialite = "{{specialite}}">
</section>

<section widget w-titre="{{nombreEnseignants>1?'Enseignants':'Enseignant'}}"
			w-description="Enseignants qui travaillent actuellement"
			w-icon = "clock-o"
			w-info ="{{nombreEnseignants}}"
			class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
</section>


<section mini-liste-enseignants class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></section>